{% extends "template.html" %}
{% block title %}Medusa Server{% endblock %}
{% block container %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <strong>{{ category }}</strong> {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="jumbotron">
        <form role="form" enctype="multipart/form-data" method="post" action="/medusa/run">

          <table class="table">
            <h2>Inputs</h2>
            <hr>
            <tbody>
              <tr>
                <td>
                  <div class="form-group">
                    <label class="control-label">
                      <label for="draft">Target draft genome</label>
                    </label>
                    <input name="draft" type="file" multiple="yes" required>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label class="control-label">
                      <label for="genomes">Comparison genomes</label>
                    </label>
                    <input name="genomes" type="file" multiple="yes" required>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <p class="text-muted" style="margin-top:-30px;font-size:small">
                    <span class="glyphicon glyphicon-info-sign"> </span>
                    Please note that multiple files can be selected (Ctrl + click)
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label>aligning algorithm</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="aligning_algorithm" id="exampleRadios1"
                      value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1" data-toggle="tooltip" title="Description for Mummer3">
                      Mummer3
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="aligning_algorithm" id="exampleRadios2"
                      value="option2" >
                    <label class="form-check-label" for="exampleRadios2" data-toggle="tooltip" title="Description for Minmap">
                      Minimap2
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                <label>graph path choice</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"  name="graph_path_rd" value="-r" id="defaultCheck1" checked>
                  <label class="form-check-label" for="defaultCheck1" data-toggle="tooltip" title="allow for random choice when best edges have the same score. This might lead to variable results!">
                    Random
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="graph_path_wh" value="-w" id="defaultCheck2">
                  <label class="form-check-label" for="defaultCheck2" data-toggle="tooltip" title="allow for sequence similarity based weighting scheme. May lead to better results">
                    Weight
                  </label>
                </div>
                </td>
              </tr>
            </tbody>
          </table>

          <h2>Submission details</h2>
          <hr>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="your@email.com" required>

            <span class="glyphicon glyphicon-info-sign"> </span>
            <p style="font-size: small;"> The email hash is saved for anonymous statistics on the server usage</p>
          </div>
          <div class="form-group">
            <label for="password">Passphrase</label>
            <input type="password" class="form-control" name="passphrase" placeholder="Open sesam">
            <span class="glyphicon glyphicon-warning-sign"> </span>
            <p style="font-size: small;">
              By default the results page is visible to anyone that knows the page URL (which is then easier to share to
              your collaborators). Using a passphrase will ensure a better privacy on your analysis.
            </p>
          </div>
          <button class="btn btn-lg btn-primary btn-block" style="width:30%; align-self:center" type="submit">Submit
            job</button>
        </form>
      </div>
    </div> <!-- /col -->
  </div> <!-- /row -->

</div> <!-- /container -->
{% endblock %}